.wrapperPostDetail {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
  padding: 45px 90px;
  .postContent {
    width: 725px;
  }
  .postSideBar {
    position: sticky;
  }
}
