.container{
    height: 323px;
    color: var(--next-color-white);
    background-color: var(--next-color-oxford-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    *:focus{
        outline: none;
    };
    .content{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .quickLink{
            height: 70%;
            width: 70%;
            ul{ 
                padding: 0;
                list-style-type: none;
                li{
                    padding-top: 10px;
                   
                    :hover{
                        text-decoration: underline;
                    }
                }
            }
            span{
                color: var(--next-color-white);
                font-size: 18px;
                font-weight: 600;
            }
            a{
                color: var(--next-color-white);
            }
        }
        .category{
          
        }
        .contacts{
           
        }
        .keepTouch{
            height: 70%;
            width: 70%;
            span{
                color: var(--next-color-white);
                font-size: 18px;
                font-weight: 600;
            }
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    padding-top: 10px;
                }
            }

            .inputEmail{
                display: flex;
                flex-direction: row;
                .submit{
                    background-color: var(--next-color-denim-blue);
                    color: var(--next-color-white);
                    margin-left: 3px;
                }
                span{
                    font-size: 14px;
                }
            }
            .socialContacts{
                display: flex;
                justify-content: space-between;
                width: 150px;
                margin-top: 10px;
            }
            
        }
    }
    
}