.container{
    width: 100%;
    background-color: white !important;
    
    .processBarLoading {
        font-size: 0px !important;
        position: absolute !important;
        top: -2px !important;
    }
}

