<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
      <a href="index.html" class="logo">Review</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <form class="searchform">
      <input type="text" class="searchbox" id="searchbox" placeholder="Tìm kiếm">
      <span class="searchbutton"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->

    <!-- Start Top Menu -->
    <!-- <ul class="topmenu">
      <li><a href="#">Files</a></li>
    </ul> -->
    <!-- End Top Menu -->

    <!-- Start Top Right -->
    <ul class="top-right">

    <li class="dropdown link">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle hdbutton">Tạo mới <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-list">
          <li><a href="/admin/review/create"><i class="fa falist fa-paper-plane-o"></i>Review</a></li>
          <li><a href="/admin/category/create"><i class="fa falist fa-font"></i>Thể loại</a></li>
          <li><a href="/admin/tag/create"><i class="fa falist fa-font"></i>Tag</a></li>
        </ul>
    </li>

    <li class="dropdown link">
      <a data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="<%- admin.profile.image || '/admin/img/profileimg.png'%>" alt="img"><b><%- admin.profile.full_name || admin.email %> </b></a>
    </li>

    </ul>
    <!-- End Top Right -->

</div>