<div style="display: none;">
    <p id="statusMessageAlert"><%- typeof message !== 'undefined'? message.status: '' %></p>
    <p id="contentMessageAlert"><%- typeof message !== 'undefined'? message.content: '' %></p>
</div>