<!-- START SIDEBAR -->
<div class="sidebar clearfix sidebar-custom">

    <ul class="sidebar-panel nav">
      <li class="sidetitle">Chính</li>
      <li><a href="/admin/dashboard"><span class="icon color5"><i class="fa fa-home"></i></span>Trang chủ<span class="label label-default">2</span></a></li>
      <li><a href="#"><span class="icon color7"><i class="fa fa-flask"></i></span>Quản lý bài review<span class="caret"></span></a>
        <ul>
          <li><a href="/admin/review">Danh sách</a></li>
          <li><a href="/admin/review/create">Tạo mới</a></li>
          <!-- <li><a href="others.html">Others<span class="label label-danger">NEW</span></a></li> -->
        </ul>
      </li>
      <li><a href="#"><span class="icon color9"><i class="fa fa-th"></i></span>Quản lý thể loại review<span class="caret"></span></a>
        <ul>
          <li><a href="/admin/blog">Danh sách</a></li>
          <li><a href="/admin/blog/create">Tạo mới</a></li>
        </ul>
      </li>
    </ul>
    
    <ul class="sidebar-panel nav">
      <li class="sidetitle">Thêm</li>
      <!-- <li><a href="grid.html"><span class="icon color15"><i class="fa fa-folder"></i></span>Quản lý file</a></li> -->
    </ul>
    
    <div class="sidebar-plan">
      <a href="/admin/admin/logout" class="btn btn-light" style="width: 100%;">Đăng xuất</a>
    </div>
    
</div>