<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
  <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
  <title>404 - Không tìm thấy</title>

  <!-- ========== Css Files ========== -->
  <link href="/admin/css/root.css" rel="stylesheet">
  </head>
  <body style="background-color: #f5f5f5;">

    <div class="error-pages">

        <img src="/admin/img/404.png" alt="404" class="icon" width="400" height="260">
        <h1>Xin lỗi chúng tôi không tìm thấy trang này</h1>
        <h4>Có thể trang này không tồn tại hoặc đã bị xóa</h4>

        <div class="bottom-links">
          <a onclick="window.history.back()" class="btn btn-default">Quay lại</a>
          <a href="/admin/dashboard" class="btn btn-light">Về trang chủ</a>
        </div>

    </div>

</body>
</html>