<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
  <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
  <title>500 - Server Error</title>

  <!-- ========== Css Files ========== -->
  <link href="/admin/css/root.css" rel="stylesheet">
</head>

<body style="background-color: #f5f5f5;">

  <div class="error-pages">

    <img src="/admin/img/500.png" alt="500" class="icon" width="400" height="260">
    <h1>Lỗi máy chủ</h1>
    <h4>Đã xảy ra sự cố nghiêm trọng. Vui lòng thử lại sau.</h4>

    <div class="bottom-links">
      <a onclick="window.history.back()" class="btn btn-default">Quay lại</a>
      <a href="/admin/dashboard" class="btn btn-light">Về trang chủ</a>
    </div>

  </div>

</body>

</html>